/* =============================================================================
   container
   ========================================================================== */
.container {
  position: relative;
}

.container-narrow {
  margin: 0 auto;
  max-width:970px;
}

.container-narrow > footer {
  margin-top: 20px;
  text-align: center;
}
.container-narrow > footer p {
  background-color: rgba(245,245,245,0.75);
  padding: 5px;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* =============================================================================
   Body and structure
   ========================================================================== */
body, html {
  min-height: 100%;
}
body {
  position: relative;
  background-color: #fff;
  background-position: 0 40px;
  text-rendering: geometricPrecision;
}
strong {
  font-weight: 500;
}

.pagehome {
  height: 100%;
  overflow: hidden;
  background: url(../img/bg.jpg) no-repeat 0 / cover;
}

.brand {
  height: 44px;
  padding-bottom: 0 !important;
  border-bottom: none !important;
  background: url(../img/logo.png) no-repeat left center;
}

.content {
  padding: 20px;
  margin: 20px -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}

.preview {
  top: 3rem;
  right: 1rem;
  z-index: 51;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  transition: all .5s;
  background-color: #52FFBF;
  -webkit-box-shadow: 0 0 15px 5px #52FFBF;
  box-shadow: 0 0 15px 5px #52FFBF;
  -webkit-animation: preview 2.5s infinite;
  animation: preview 2.5s infinite;
}
.preview.ok {
  -webkit-animation: none;
  animation: none;
  background-color: #52FFBF;
  webkit-box-shadow: 0 0 15px 5px #52FFBF;
  box-shadow: 0 0 15px 5px #52FFBF;
}
@-webkit-keyframes preview {
  0% {
    -webkit-box-shadow: 0 0 0 0 #52FFBF;
  }
  50% {
    background-color: #FF52B8;
    -webkit-box-shadow: 0 0 15px 5px #FF52B8;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #52FFBF;
  }
}
@keyframes preview {
  0% {
    box-shadow: 0 0 0 0 #52FFBF;
  }
  50% {
    background-color: #FF52B8;
    box-shadow: 0 0 15px 5px #FF52B8;
  }
  100% {
    box-shadow: 0 0 0 0 #52FFBF;
  }
}

.online-preview {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .6s;
  transition: all .6s;
  -webkit-transform: scale(5);
  transform: scale(5);
  background-color: rgba(0, 0, 0, .8);
}
.online-preview.show {
  opacity: 1;
  z-index: 50;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.online-preview h6 {
  color: #52ffbf;
  font-size: 3rem;
  margin-top: 3rem;
  text-align: center;
}
.online-preview .preview-box {
  left: 0;
  right: 0;
  top: 1rem;
  bottom: 0;
  font-size: 0;
  margin: 8rem;
  overflow-x: scroll;
  position: absolute;
}
.online-preview .preview-box .item {
  width: 20%;
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
  display: inline-block;
}
@media (max-width: 640px) {
  .online-preview .preview-box .item {
    width: 100%;
  } 

  .not-search {
    font-size: 40px !important;
  }
  .not-search i {
    font-size: 350px !important;
  }
  
  .post {
    margin-bottom: 150px !important;
  }
  .post-list-item a,
  .post-list-item span {
    font-size: 12px !important;
  }

  .container-narrow {
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left:-48px;
  }
}
.online-preview .preview-box a {
  color: #fff;
}
.online-preview .preview-box a:hover {
  color: #49DEFF;
}
.online-preview .preview-box a:hover img {
  box-shadow: 0 0 15px #49DEFF;
}
.online-preview .preview-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 1rem;
  transition: all .5s;
}

#sidebar {
  margin-left: 5px;
  padding-left: 15px;
  border-left: 1px solid #e0e0e0;
  font-size: 0.9em;
}

/* =============================================================================
   page
   ========================================================================== */

.page{
  line-height: 1.5em;
  font-family: "Helvetica Neue",Helvetica,Tahoma,"lantinghei sc","Hiragino Sans GB","microsoft yahei",sans-self;
}

.index-page {
  /*overflow: scroll;*/
  overflow-x: hidden;
}

.page .panel-collapse .panel-body {
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.page-custom p, .page-custom li {
  color: #555;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 25px;
}
.page-custom li {
  margin:5px 0;
}

.note {
  position: relative;
  margin-top: -20px;
}

/* =============================================================================
   pagination
   ========================================================================== */

.pagination {
  margin: 10px 0;
}

.pagination a{
  color:#555;  
}


/* =============================================================================
   List
   ========================================================================== */

li i {
  margin-right: 5px;
  margin-left: 5px;  
}

.listing-item {
  line-height: 24px;
}

/* =============================================================================
   hyper links
   ========================================================================== */

a{color:#999;transition:all .3s;}
a:focus{color:#3193CC;}
a:hover{color:#3193CC;text-decoration:none;}
a:active{color:#3193CC;}

a.label-anchor {
  position: relative;
  display: block;
  text-align: right;
  width: 200px;
  left: -210px;
  font-family: 'PT Sans', sans-serif;
}
a.label-anchor:target span {
  background-color: #b94a48;
}
a.label-anchor:hover {
  text-decoration: none;
}
a.label-anchor span {
  font-weight: bold;
  line-height: 0px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  background-color: #666;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

a.inline-ref {
  border-bottom: dotted 1px #333;
  color: black;
}
a.inline-ref:hover {
  text-decoration: none;
  border-bottom: solid 1px #000;
}

/* =============================================================================
  blockquote
   ========================================================================== */

blockquote {
  border-left:5px solid #ccc;
  font-size: 1em;
  background-color: #fff;
  padding: 0px 20px;
  margin-left: 20px;
}

blockquote p, blockquote ol, blockquote ul, blockquote li, .slogan{
  font-family: 'Open Sans',"Helvetica Neue", '楷体', 'STKaiti', "Kai", "kaiti", Helvetica, "Segoe UI", Ubuntu, "Hiragino Sans GB";
}

/* =============================================================================
   img, video
   ========================================================================== */

img, video {
  max-width: 97.5%;
  margin: 15px, auto;
  display: block;
  height: auto;
}

/* =============================================================================
   scroll to top
   ========================================================================== */

#gotop{ 
  display:block;  
  width:36px; 
  height:36px;
  position:fixed;  
  bottom:40px;  
  right:30px; 
  border-radius:7px;
  text-decoration:none;  
  display:none;  
  background-color:#999999;     
}
#gotop span{ 
  display:block; 
  color:#dddddd; 
} 
#gotop span:hover{ 
  color:#cccccc; 
} 
#gotop span{ 
  font-size:24px; 
  text-align:center; 
}

/* =============================================================================
   Headers
   ========================================================================== */

header h1{
  font-weight:normal;
  line-height:1.2em;
  margin-bottom:0.6667em;

}

.page-header h1 {
  font-size: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.page-header h1 span.date{
  display:inline;
  position: absolute;
  font-size: 0.7em;
  color: #555;
  font-family: 'PT Sans Narrow', sans-serif;
}

.post li {
  font-size: 0;
  margin-bottom: 1px;
  text-indent: 20px;
  line-height: 5rem;
  position: relative;
  background-color: RGBA(0, 0, 0, .8);
}
.post li a, .post li span {
  font-size: 2rem;
}
.post li span {
  opacity: 0;
  text-indent: 0;
  display: inline-block;
  transform: rotate(10deg);
}
.post li a {
  left: 0;
  width: 100%;
  position: absolute;
}
.post li:hover span {
  opacity: 1;
  color: #fff;
  transition: all .5s;
  transform: rotate(0);
}

h1{
  font-size:2.6em;
  line-height:1.2em;
  margin-bottom:0.6667em;
}

h1,h2,h3,h4,h5,h6{
  text-rendering:geometricPrecision;
  font-weight: 300;
  font-family: 'Open Sans', "Helvetica Neue", "Helvetica","Microsoft YaHei", "WenQuanYi Micro Hei",Arial, sans-serif;
}

h2{
  margin: 0.83em 0;
  color: green;
  border-bottom: 2px #ccc solid;
  padding-top: 40px;
  margin-top: -45px;
}

h3 {
  padding: 15px;
  background-color: #f2f2f2;
  font-size: 2rem !important;
  border-left: 5px solid #009688;
  color: #607D8B;
}

h4 {
  margin: 35px 0 15px 0;
}

h2,section h1{font-size:2.2em}

h3,section h2,section section h1{font-size:2em}

// h4,section h3,section section h2,section section section h1{font-size:1.6em}

h5,section h4,section section h3{font-size:1.4em}

h6,section h5,section section h4,section section section h3{font-size:1.2em}

h2,h3{
  margin: 1.5em 0px .5em;
}
/* =============================================================================
   Codes
   ========================================================================== */

.line{
  height: 20px;
}

/* =============================================================================
   Tables
   ========================================================================== */

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

th {
  padding: 12px 10px 12px 10px;
  border-bottom: 1px dashed #4088b8;
}

td {
  padding: 7px 10px 7px 10px;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/**
 * 
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: ""; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

#notek-search {
  color: #fff;
  border: none;
  height: auto;
  padding: 15px;
  margin-bottom:1em;
  transition: all .3s;
  background-color: rgba(0 ,0, 0, .5);
}
#notek-search:focus {
  background-color: rgba(0 ,0, 0, .8);
}

.not-search {
  color: #dcdcdc;
  opacity: .85;
  text-align: center;
  font-size: 80px;
  padding-bottom: 100px;
}
.not-search i {
  font-size: 600px;
}